/* Base styles */

body {
  font-family: 'Montserrat', sans-serif;
  background-color:rgba(4, 12, 12, 0.8);
  overflow-x: hidden;
  margin-top: 2rem; /* Adjust this value based on the height of your fixed navigation */

  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .min_nave{
    display:none;
  }
  
  .sidebar {
    position:fixed;
    top:0;
    width:15%;
    height:100%;
    z-index:99999;
    display: flex;
   
    flex-direction:column;
    background:rgba(4, 12, 12, 0.8);
  }
  .content{
    position:relative;
    margin-left:15%;
    overflow-x:hidden;

  }
 
 .content_tables{
  display:block;
  margin:0 auto;
  width:90%;
  border-radius:10px;
  background:rgba(40, 120, 120, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}
  
  .logo {
    color:#fff;
    font-size: 30px;
    font-weight: 800;
}


  

.AddResume {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none; 
    transition: border-color 0.3s ease;
}
input:focus,
textarea:focus {
    border-color: #f8b400; 
    box-shadow: 0 4px 8px rgba(248, 180, 0, 0.4); 
}

textarea {
    resize: vertical;
}

input {
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
   
    font-size: 14px;
}
.AddResume button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #f8b400; 
    color: #fff;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.AddResume button:hover {
    transform: scale(1.05); 
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}
  
  @media (max-width: 768px) {
    .sidebar {
      display:none;
      flex-direction: column;
      width:70%;
      background:rgba(4, 12, 12, 1);

    }
    .show{
        
    display: block;
    }
    .min_nave{
        display:block;
        display: flex;
        justify-content: space-between;
      }
      .content{
        margin-left:0;
      }
      .title ,.logo{
        font-size: 15px;
        font-weight: 800;
      }
   
  }
  