@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --color-blue: #3CF;
    --color-jaune: #FC3;
    --background-head: rgba(250, 250, 250, 0.1);
    --color-white: #fff;
    --background-blue: #162239fc;
    --border-bottom: #121b2f;
    --color-jaune-dark: #f5a425;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:rgba(4, 12, 12, 0.8);
    overflow-x: hidden;
    margin-top: 3.8rem; /* Adjust this value based on the height of your fixed navigation */

}

.video-container {
   
    width: 100%;
    height: 399px;

}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 100%;
    height: 399px;
    background-color: rgba(0, 0, 0, 0.7);
}
.popup-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .popup-content {
    position: relative;
  }
  
  .popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }
  
  .popup-message {
    color: #fff;
    font-size: 16px;
  }
  
.hide {
    display: none;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/* button {
    padding: 10px 20px;
    font-size: 16px;
    border: none; 
    background-color: #f8b400;
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
buutton:hover{
    box-shadow: #fff;
} */
.searsh {
  
    color:#000;
    text-align:center;
    font-weight:bold;
}
.searsh input{
    padding:2%;
    width:15rem;
    border-radius:20rem;
    outline:none;
    border:solid 1px gray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);


}
.result {
    position: fixed;
    top: 3.1rem;
    left: 29%;
    z-index: 99999;
    padding-y:2%;
    width:15rem;
    max-height: 35vh;
    display: block;
    margin: 0 auto;
    border-radius:10px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow-y: auto; 
}

 .result .result_item{
     padding:1%;
     font-size:20px;
 
    }
    .result .result_item:hover{
        background-color:rgba(100,100,100,0.6);
         
    }

 .result .result_item button{
   background-color:transparent;
   border:0;
   width:100%;
   display:flex;
   justify-content:start;
   text-align:start;
}
.result .result_item button svg{
   margin:2%;
    width:7%;
 }
.result .result_item button:hover{
    color:white;
}
.sersh_icon{
    display:none;
}
.card-fill {
    transition: box-shadow 0.3s ease; 
    background-color: #ffffff;
    border-radius: 8px;
    
    overflow: hidden;
    height:80%;
    transition: transform 0.3s ease;
}

.card-fill:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4); 
    transform: scale(1.05);
}

.card-fill.card-body {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.card-fill.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.card-fill.card-text {
    color: #666666;
    margin-bottom: 10px;
}

.card-fill.card-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .col-lg-4 {
        flex: 0 0 50%;
    }
}

@media (max-width: 768px) {
    .col-lg-4 {
        flex: 0 0 100%;
    }
}

/* latest cources */

.nta-container{
    display:block;
    margin:10px auto;
   width:80%;
}
.latest_cources {
    width:100%;
    margin-bottom:4%;
    margin-top:6%;   
    background-color: #24262b;

    opacity: .90;

}
.latest_cources  button{
    display:block;
    margin:0 auto;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #f5a425;
    padding: 10px 15px;
    border-radius: 0;
}
.latest_cources h1{
   color: bleu;
   padding-top:3%;

}


/* latest cources */

/* Custom styles for the navbar */


#navbar-scroll-boo {
    background-color: #24262b; 
}



.navbar-nav .nav-link {
    color: #fff; 
    font-size: 16px; 
}



/****nav***/


.nav-color {
    background-color: var(--background-blue);
    opacity: .95;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 200;
    width:100%;
}



.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.logo {
    color:#fff;
    font-size: 30px;
    font-weight: 800;
}

.logo span {
    color: #f5a425;
}





/*color nav**/



.navbare {
    transition: all 10s ease;
    display:flex;
   justify-content:around;

}
.nav-link:hover ,.nav-link:hover svg {
    transform: scale(1.2); 
}


.nav-link,.nav-link svg {
    transition: transform 0.3s ease;
}

.dropdown-style {
    border-bottom: 1px solid var(--border-bottom);
    padding: .8rem;
    font-weight: 500;
    color: #fff;
}

.dropdown-menu {
    margin-top: 2px;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-style:hover {
    color: #f5a425;
}


/******************description*************/

.description {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80vw;
}

.description p {
    font-weight: 600;
    font-size: 1.2em;
}

.description h1 {
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 1rem;
}

.description h1 span {
    color: #f5a425;
}

.description button {
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #f5a425;
    padding: 10px 15px;
    border-radius: 0;
}






/********************END header*****************************/


/******footer header*******/

.features-post {
    z-index: 30;
    position: relative;
    background-color: rgb(16, 16, 41);
    color: #fff;
    padding: 25px 0 30px 0;
    position: absolute;
    bottom: 0;
    width: 25%;
    text-align: center;
    overflow: hidden;
}

.features-post:hover {
    background-color: #f5a425;
    height: auto;
}

.features-post .content {
    height: 0;
    overflow: hidden;
    transition: height 2s;
}

.features-post .content:hover {
    height: 150px;
}

.content-show h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.content-show h4 i {
    margin-right: 8px;
}

.content p {
    margin-bottom: .5rem;
}

.content a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 4px solid #fff;
    font-weight: 700;
}


/*********why choose us**********/

.whyUs {
    color: #fff;
    height: auto;
    margin: auto;
    /* text-align: center; */
    background: url('../images/choosing-bg.jpg') center center / cover;
    padding-bottom: 5rem;
}

.ligne {
    width: 2px;
    background-color: rgba(250, 250, 250, 0.1);
    height: 7rem;
    margin: auto;
    padding: 0;
}

.header {
    color: #fff;
    margin: auto;
    text-align: center;
    border: rgba(250, 250, 250, 0.1) 2px solid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
    font-weight: 600;
}

.categorie ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 3rem;
}



.list-category {
    cursor: pointer;
}

.icon {
    border: #f5a425 solid 2px;
    padding: 5px;
}

.whyUs .content {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whyUS .content h4 {
    font-size: 5em;
    font-weight: 600;
}

.whyUS .content p {
    margin-top: 1rem;
    font-size: 1em;
}

a.link {
    color: #3CF;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    border: none;
    text-transform: initial;
}

/******timer*********/

.timer {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: url('../images/coming-soon-bg.jpg') center center / cover;
}

.timer .big-text {
    color: #fff;
    font-size: 1.7em;
    font-weight: 800;
    text-align: center;
    justify-content: center;
}

.timer a.linko {
    color: #f5a425;
    border: none;
}

.time {
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 250, 250, 0.1);
    height: 7rem;
    text-align: center;
    justify-content: center;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
}

.number {
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
}

.category {
    color: #f5a425;
    font-weight: 500;
    font-size: 0.9em;
}
/*********register and login forms**********/
.login-box {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input,select{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box select option {
    width: 100%;
    padding: 10px 3px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color:rgba(0,0,0,0.9);
    appearance: none; /* Removes default styles (not supported in all browsers) */
    -webkit-appearance: none; /* For Safari/Chrome */
    -moz-appearance: none; /* For Firefox */
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
}

/* Hide the default file input */
input[type="file"] {
    
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Style the label when file is chosen */
input[type="file"]:focus + .custom-file-upload {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
input[type="file"]:hover{
    background: #f5a425;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f5a425,
                0 0 25px #f5a425,
                0 0 50px #f5a425,
                0 0 100px #f5a425;
}
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f5a425;
    font-size: 12px;
  }
  
  .login-box form button {
    background-color:transparent;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f5a425;
    border:0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box button:hover {
    background: #f5a425;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f5a425,
                0 0 25px #f5a425,
                0 0 50px #f5a425,
                0 0 100px #f5a425;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f5a425);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f5a425);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f5a425);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f5a425);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

/*********end register and login forms**********/

.timer .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-content: center;
    justify-content: center;
}


/******courses******/

.lesson {
    padding: 10rem;
}
.lesson h2{
    color:#ffff;
    padding:3px;
    width:70%;
    font-weight:bold;
    display:block;
    margin:0 auto;
    background-color:#162239fc;
}.FILLS {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top:3rem;
    margin-bottom:3rem;

}
.corses_bord{
    border-radius:10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
    padding-top:100px;
}
.cont_corses{
    margin-top:10%;

}
.btn-container {
     display: flex;
     justify-content:center;
     overflow-x: auto;
     scroll-behavior: smooth;
}

.carousel-button {
    flex: 0 0 auto;
    padding: 4px;
    margin-right: 10px;
    font-weight:bold;
    color:#fff;
    background:transparent;
    border-radius:6px;
    border: none;
    cursor: pointer;
}

.carousel-button:hover{
    color:#f5a425;

}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-course {
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}

.info-course h4 {
    font-size: 1.1em;
    margin: 10px 0 15px 0;
}

.info-course p {
    font-size: .8em;
    margin-bottom: 20px;
}

.owl-carousel .owl-item .info-fo img {
    width: auto;
    border: #f5a425 2px solid;
    border-radius: 50%;
}

.info-fo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-fo a {
    text-decoration: none;
    color: gray;
    margin: auto 0;
}

.info-fo a.pay {
    color: #f5a425;
}

.owl-theme .owl-dots .owl-dot span {
    background: white;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #f5a425 !important;
}


/*******end courses**************/


/********presentation****************/

.presentation {
    background: url("../images/video-bg.jpg") center center / cover;
    height: auto;
    color: #fff;
}

.smal-text {
    font-size: 1em;
}

.presentation h4 {
    font-size: 2.3em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 20px;
}

.presentation h4 span {
    color: #f5a425;
}

.text {
    font-size: .9em;
}

.url {
    color: #fff;
    font-weight: 600;
    background-color: #f5a425;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.url:hover {
    color: white;
}



.bgr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bgr p {
    color: black;
    font-weight: 700;
}

.bgr .run {
    background-color: #f5a425;
    /* padding: 15px; */
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-size: 1.2em;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}


/**************end presentation***********/

.Resume{
    background-color:#fff;
    width:70%;
    display: block;
    margin: 0 auto;
    border-radius:1%;
    padding:3%;
    margin-bottom:1%;
    margin-top:100px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4); 
}
.Resume h5{
    color:black;
    width:auto;
    border-bottom:solid 1px black;
    padding:10px;
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom:3%;
}
.Resume h6{
    color:blue;
    text-align:center;
    padding:10px;

}
.title{
    text-align:center;
    padding:20px;
}
.title strong{
   color:#f8b400;
}
.cor_info p{
    font-size: 14px;
    font-weight: bold;
}
.Resume .desc{
    
    text-align:center;
    padding:10px;
    border:solid 1px black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 


}
.container .download{
    display: block;
    margin: 0 auto;
    margin-bottom:200px;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #f8b400; 
    color: #fff;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.container .download:hover{
    transform: scale(1.05);
}
.Resume img{
 
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto;
    border: 3px solid #000; 

}
@media print {
    body {
        background: white;
    }
    .container {
        width: 100%; 
        display:flex;
        justify-content:center;
        padding-top:300px;
    }
    .Resume {
       
        font-family: Arial, sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 20px;
    }
    .download {
        display: none;
        color:white;
    }
    footer{
        display:none;
    }
}


/************contact************/

.contact {
    background: url("../images/contact-bg.jpg") center center / cover;
    padding-bottom: 5rem;
    color: #fff;
    height: auto;
}

.form-control {
    color: black !important;
}

.contact-content {
    margin-top: 3rem;
}

.contact-content .form {
    background-color: rgba(250, 250, 250, 0.1);
    padding: 4rem 2rem 2rem 2rem;
}

.contact-content .form-control {
    margin-bottom: 2rem;
    background-color: rgba(250, 250, 250, 0.1);
    border: none;
    padding: 1rem;
}
/* 
input.form-control,
textarea.form-control {
    border: none !important;
    box-shadow: none !important;
} */

.contact-content .btn {
    background-color: #f5a425;
    color: #fff;
    font-weight: 600;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
    border-radius: 0;
    padding: 10px 15px;
}

.contact-content input {
    color: #fff;
    border: none;
}

.contact .ligne {
    height: 3rem;
}


.teach{
    border-radius:10px;

}
.famus_teachers{
    background-color:#fff;
    width:100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform transition */

    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding:5px;

}
.famus_teachers:hover{
    transform: scale(1.1); /* Scale up to 1.1 times on hover */

}
.famus_teachers img{
    border-radius: 50%; 
    width:50%; 
    height:50%; 
    object-fit:cover; 
    display: block; 
    margin: 0 auto;
    border: 2px solid #000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}
.famus_teachers h4 {
    margin-top:3%;
    color: #24262b;
    text-align:center;
    font-weight:bold;
}
.famus_teachers h6 {
    margin-top:3%;
    color:#000;
    text-align:center;
    font-weight:400;
    border-top:1px solid gray; 
}
.famus_teachers a{
    text-decoration:none;

}
.famus_teachers h4:hover{
    color:#f5a425;
}
/* Global styles */

.container
    {
    max-width: 1200px;
    margin: 0 auto;
    }

/* Teachers Section */
.teachers-section {
    padding: 40px 0;
}
.teachers-section .title{
    color:#ffff;
    padding:3px;
    width:70%;
    display:block;
    margin:0 auto;
    border-radius:10px;
    background-color:#24262b;
}
.teachers-section .title h3{
    font-weight:bold;
    text-transform: uppercase;
}
/* Teachers Grid */
.teachers-grid {
    display: grid;
    gap: 10px;
    padding:3%;
}

/* Large screens (>= 992px) */
@media (min-width: 992px) {
    .teachers-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
    }
}

/* Medium screens (>= 768px and < 992px) */
@media (min-width: 768px) and (max-width: 991px) {
    .teachers-grid {
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
    }
}

/* Small screens (< 768px) */
@media (max-width: 767px) {
    .teachers-grid {
        grid-template-columns: repeat(1, 1fr); /* 2 columns */
    }
}


/* Teacher Card */


  
  
  
/* Button Group */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-follow {
    background-color: #000000;
    color: #ffffff;
}

.btn-see-profile {
    background-color: #f5a425;
    color: #000000;
}
.btn-see-profile:hover{
    background-color:#FC3;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .teachers-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
.logo{
    font-size:15px;
}
.sersh_icon{
    display:block;
    color:#fff;
    background-color:transparent;
    outline:none;
    border:none;

}
.sersh_icon svg{
    fill:white;
    margin:2%;
    width:100%;
}

.sersh_icon:hover svg{
    fill:black;
}
.search_flag{
    display:flex;
    justify-content:center;
    padding-top:1%;
}
    .searsh {
       display:none;
       position:fixed;
       top: 2.5rem;
       left:2px;
       color:#000;
       text-align:center;
    }
    .searsh input{
        padding:2%;
        width:20rem;
        border-radius:0rem;
        outline:none;
        border:solid 1px gray;
        font-size:10px;
        margin-top:10px;
        background-color: rgba(150, 200, 200, .9);
        box-shadow: 0 2px 8px rgba(0, 0, 10, 0.6);
    
    
    }
    .result {
        position: fixed;
        top: 5rem;
        left:2px;
        z-index: 999;
        padding-y:2%;
        width:20rem;
        max-height: 35vh;
        display: block;
        margin: 0 auto;
        border-radius:0px;
        background-color: rgba(150, 200, 200, .9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        overflow-y: auto; 
    }
}

.teachers img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto;
    border: 2px solid #fff; 
}


/* .teachers{
    background-color:#fff;
    margin: 1%;
} */

.teachers p{
    color: black;
    font-weight: 700;
}




/************large devices only ********/

@media (min-width: 1200px) {
    /***********header************/
    /***navbar***/
    .navbar-position {
        justify-content: end;
    }
    
   
    .dropdown-menu a:hover {
        color: #f5a425;
    }
    /**presentation ***/
    .presentation {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .pre-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }
    /*****contact*****/
}


/********** Medium devices only *********/

@media (min-width: 992px) and (max-width: 1199px) {
    
    /***presentation****/
    .pre-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }
    .contact {
        height: 100vh;
    }
}


/********Small divices only *************/

@media (min-width: 768px) and (max-width: 991px) {

    .navbare {
        transition: all 10s ease;
        width:100%;
        margin-left:40%;
        display:none;
    }

    .show {
        display:block;
    }
   
    /******why choose us*********/
    .categorie ul li {
        font-size: 15px;
        font-weight: 600;
        justify-content: space-between;
    }
    .whyUs .why {
        text-align: center;
    }
    .whuUs .icon {
        padding: 4px;
        font-size: 10px;
    }
    /***features****/
    .features {
        background-color: rgb(16, 16, 41);
        padding-bottom: 2rem;
    }
    .features-post {
        position: initial;
        width: 80%;
        padding: 30px;
        padding-bottom: 0;
    }
    .features-content {
        position: initial;
        text-align: justify;
    }
    .description h1 {
        font-size: 8vw;
    }
    .description p {
        font-size: 20px;
    }
    .description button {
        font-size: 15px;
    }
    /****presentation****/
    .presentation {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .presentation h4 {
        font-size: 1.7em;
    }
    /* .video-des {
        margin-top: 5rem;
    } */
    /******contact********/
    .form {
        margin-bottom: 2rem;
    }
}


/****** Extra small devices only ********/

@media (max-width: 767px) {
    /******why choose us*********/
    .categorie ul li {
        font-size: 15px;
        font-weight: 600;
        justify-content: space-between;
    }
    h1{
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        font-weight:500;
    }
    .navbare {
        transition: all 10s ease;
        width:100%;
        margin-left:40%;
        display:none;
    }

    .show {
        display:block;
    }
    .whyUs .why {
        text-align: center;
    }
    .whuUs .icon {
        padding: 4px;
        font-size: 10px;
    }
    /***features****/
    .features {
        background-color: rgb(16, 16, 41);
        padding-bottom: 2rem;
        width: 100%;
        padding: 20px;
    }
    .features-post {
        position: initial;
        width: auto;
        margin: auto;
        display: flex;
    }
    .features-content {
        position: initial;
        text-align: justify;
        margin: 0px;
        padding: 5px 20px;
    }
    .description h1 {
        font-size: 7vw;
    }
    .description p {
        font-size: 20px;
    }
    .description button {
        font-size: 15px;
    }
    /***timer*****/
    .number {
        font-size: 6vw;
        font-weight: 700;
    }
    .category {
        font-size: 3vw;
    }
    /****presentation****/
    .presentation {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .pre-content {
        text-align: center;
    }
    .presentation h4 {
        font-size: 1.7em;
        text-align: center;
    }
    .video-des {
        margin-top: 5rem;
    }
    /***contact*****/
    .form {
        margin-bottom: 2rem;
    }
}

@media (max-width: 450px) {
    /***nav***/
    .logo {
        font-size:15px;
    }
    .navbar-dark .navbar-toggler-icon {
        height: 1.2em;
        width: 1.2em;
    }
    /******why choose us*********/
    .categorie ul {
        padding: 0;
    }
    .categorie ul li {
        font-size: 13px;
        font-weight: normal;
        justify-content: space-between;
    }
    .whuUs .icon {
        padding: 3px;
        font-size: 8px;
    }
}